* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.items {
    position: relative;
    width: 700px;
    height: 300px;
}

.laterale {
    width: 200px;
    height: 300px;
    background-color: aqua;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: relative
}

.dimensioni-foto{
    height: calc(300px / 5);
    width: 100%;
    object-fit: cover;
    margin: 0;
}

.relative{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}

.oscuramento{
    background-color: rgba(0, 0, 0, 0.5); 
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}


.border{
    border: #fff solid 2px;
}

.item {
    height: 100%;
    display: none;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active {
    display: block;
}

.prev, .next {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
}

.prev{
    top: 0;
}

.next {
    bottom: 0;
}

.prev::after {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.next::before {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}

.position-absolute{
    position: absolute;
}

.bottom-50{
    bottom: 50px;
}

.text-right{
    text-align: right;
}

.color-white{
    color: #fff;
}

.padding-text{
    padding: 0px 50px 0px 30px
}

.pulsanti{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

#startTempo{
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    margin-right: 5px;
}

#fermoTempo{
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #ff0909;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    margin-left: 5px;
}